<div class="block-center mt-xl wd-xl" ng-controller="LoginFormController     ">

   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img class="block-center img-rounded" src="app/img/logo.png" width="80"  alt="Image" />
         </a>
      </div>
      <div class="panel-body">
         <p class="text-center pv">SIGN IN TO CONTINUE.</p>
         <form class="form-validate mb-lg" role="form" ng-submit="login()" name="loginForm" novalidate="">
         <div ng-show="invalidLogin"class="alert alert-danger">Invalid username/password</div>
            <div class="form-group has-feedback">
           
               <input class="form-control" id="exampleInputEmail1" type="email" name="account_username" value="a@b.com" placeholder="Enter email" autocomplete="off" ng-model="formlg.userName" required="" />
               <span class="fa fa-envelope form-control-feedback text-muted"></span>
               <span class="text-danger" ng-show="loginForm.account_email.$dirty &amp;&amp; login.loginForm.account_email.$error.required">This field is required</span>
               <span class="text-danger" ng-show="loginForm.account_email.$dirty &amp;&amp; loginForm.account_email.$error.email">This field must be a valid email address</span>
            </div>
            
            <div class="form-group has-feedback">
               <input class="form-control" id="exampleInputPassword1" type="password" value="Password" name="account_password" placeholder="Password" ng-model="formlg.password" required="" />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
               <span class="text-danger" ng-show="login.loginForm.account_password.$dirty &amp;&amp; login.loginForm.account_password.$error.required">This field is required</span>
            </div>
            <div class="clearfix">
               <div class="checkbox c-checkbox pull-left mt0">
                  <label>
                     <input type="checkbox" value="" name="account_remember" ng-model="formlg.account_remember" />
                     <span class="fa fa-check"></span>Remember Me</label>
               </div>
               <div class="pull-right"><a class="text-muted" ui-sref="page.recover">Forgot your password?</a>
               </div>
            </div>
            <button class="btn btn-block btn-primary mt-lg" type="submit">{{buttonText}}</button>
            <!-- <pre>list={{formlg|json}}</pre> -->
         </form>
         <div class="alert alert-success text-center" ng-show="authMsg">{{authMsg}}</div>
          <div class="alert alert-danger text-center" ng-show="errMsg">{{errMsg}}</div>
         <p class="pt-lg text-center">Need to Signup?</p><a class="btn btn-block btn-default" ui-sref="page.registerwizard">Register Now</a>
      </div>
   </div>
 
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>                                      
      <span ng-bind="app.description"></span>
   </div>
</div>



          
 







<!-- <div class="block-center mt-xl wd-xl"  ng-controller="AuthLoginController as vm">

   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img class="block-center img-rounded" src="app/img/logo.png" alt="Image" />
         </a>
      </div>
      <div class="panel-body">
         <p class="text-center pv">SIGN IN TO CONTINUE.</p>
          <form name="form" ng-submit="form.$valid && vm.login()" novalidate>
        <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.username.$invalid }">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" ng-model="vm.username" required />
            <div ng-messages="form.$submitted && form.username.$error" class="help-block">
                <div ng-message="required">Username is required</div>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.password.$invalid }">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" ng-model="vm.password" required />
            <div ng-messages="form.$submitted && form.password.$error" class="help-block">
                <div ng-message="required">Password is required</div>
            </div>
        </div>
        <div class="form-group">
            <button ng-disabled="vm.loading" class="btn btn-primary">Login</button>
            
        </div>

          
        <div ng-if="vm.error" class="alert alert-danger">{{vm.error}}</div>
         <pre>list={{vm|json}}</pre>
    </form>
         <div class="alert alert-danger text-center" ng-show="authMsg">{{authMsg}}</div>
         <p class="pt-lg text-center">Need to Signup?</p><a class="btn btn-block btn-default" ui-sref="page.register">Register Now</a>
      </div>
   </div>
 
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>                                      
      <span ng-bind="app.description"></span>
   </div>
</div>
 -->







<!-- 


<div class="col-md-6 col-md-offset-3" ng-controller="AuthLoginController as vm">
   
    <h2>Login</h2>
    <form name="form" ng-submit="form.$valid && vm.login()" novalidate>
        <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.username.$invalid }">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" ng-model="vm.username" required />
            <div ng-messages="form.$submitted && form.username.$error" class="help-block">
                <div ng-message="required">Username is required</div>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.password.$invalid }">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" ng-model="vm.password" required />
            <div ng-messages="form.$submitted && form.password.$error" class="help-block">
                <div ng-message="required">Password is required</div>
            </div>
        </div>
        <div class="form-group">
            <button ng-disabled="vm.loading" class="btn btn-primary">Login</button>
            
        </div>

        <div ng-if="vm.error" class="alert alert-danger">{{vm.error}}</div>
         <pre>list={{vm|json}}</pre>
    </form>
</div>
