<h3>
  Account Rights
</h3>
<div class=" companydetails"><div class="panel panel-default" ng-controller="UserRightsController">
         <div class="panel-heading">

      </div>
         <div class="panel-body" >
          <div class="row">
            <div class="col-lg-6">

              <div class="form-group col-lg-12">
                <div class="col-lg-3">
                  <label>Account</label>
                </div>
                <div class="col-lg-9">
                  <select class="form-control">
                    
                  </select>                  
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
               <div class="table-responsive">
               <table class="table table-striped" datatable="ng">
                       <thead>
                     <tr>
                       
                        <th>Module</th>
                         <th>Add</th>
                        <th>List</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Report</th>
                     </tr>
                  </thead>
                      <tbody>
                   <tr  ng-repeat="right in rights">
                    <td></td>
                    <td><input type="checkbox"  name="add" value="Add"/></td>
                    <td><input type="checkbox"  name="List" value="List"/></td>
                    <td><input type="checkbox"  name="Edit" value="Edit"/></td>
                    <td><input type="checkbox"  name="Delete" value="Delete"/></td>
                    <td><input type="checkbox"  name="Report" value="Report"/></td>

                    
                        
                        
                      
                     </tr>
                    
                     
                     
                  </tbody>
               </table>

                
            </div>              
            </div>

                  
          </div>


          
         
         </div>
         </div>
      </div>

<script type="text/ng-template" id="newUserRight.html">
            <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button><h4 class="modal-title" id="myMapModalLabel">User Rights</h4></div><div class="modal-body"><!-- START panel-->

 <form class="form-horizontal" ng-controller="UserRightsController">
                 <div class="form-group">
                  <label class="col-lg-3 control-label">Group</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text" name="trans_desc" ng-model="right.group"  placeholder="Enter group Description"/>
                  </div>
               </div>
               
         <div class="form-group">
                  <label class="col-lg-3 control-label">Module</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text" name="trans_desc" ng-model="right.group"  placeholder="Enter group Description"/>
                  </div>
               </div>

           
            

<div class="form-group">
 <label class="col-lg-3 control-label">Write</label>
   <div class="col-lg-9">
            <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value=""  ng-model="right.write"/>
                        <span class="fa fa-check"></span></label>
                  </div>
          
            </div>
        </div>
              
        

      <div class="form-group">
 <label class="col-lg-3 control-label">Read</label>
   <div class="col-lg-9">
            <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value=""  ng-model="right.read"/>
                        <span class="fa fa-check"></span></label>
                  </div>
          
            </div>
        </div>
              
  
        <div class="form-group">
 <label class="col-lg-3 control-label">Update</label>
   <div class="col-lg-9">
            <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value=""  ng-model="right.update"/>
                        <span class="fa fa-check"></span></label>
                  </div>
          
            </div>
        </div>


              <div class="form-group">
 <label class="col-lg-3 control-label">Delete</label>
   <div class="col-lg-9">
            <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value=""  ng-model="right.delete"/>
                        <span class="fa fa-check"></span></label>
                  </div>
          
            </div>
        </div>
              
  
        <div class="form-group">
 <label class="col-lg-3 control-label">Report</label>
   <div class="col-lg-9">
            <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value=""  ng-model="right.report"/>
                        <span class="fa fa-check"></span></label>
                  </div>
          
            </div>
        </div>
              
              
         
              
               <div class="form-group">
                  <div class="col-lg-offset-3 col-lg-9">
                     <button class="btn btn-info btn-sm" ng-click="submitUserRight()">Save and New</button>
                       <button class="btn btn-info btn-sm" ng-click="submitUserRight()">Save and Close</button>
                      <button class="btn btn-warning btn-sm" type="reset">Reset</button>
                  </div>
               </div>
               {{right|json}}
            </form>
<!-- END panel--></div><div class="modal-footer"><button class="btn btn-primary" ng-click="ok()">Close</button></div>
         </script>




<script type="text/ng-template" id="EditUserRight.html">
            <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button><h4 class="modal-title" id="myMapModalLabel">New User</h4></div><div class="modal-body"><!-- START panel-->

 <form class="form-horizontal" ng-controller="UserRightsController">
                    <div class="form-group">
                  <label class="col-lg-3 control-label">Group</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text" name="trans_desc" ng-model="right.group"  placeholder="Enter group Description"/>
                  </div>
               </div>
               
         <div class="form-group">
                  <label class="col-lg-3 control-label">Module</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text" name="trans_desc" ng-model="right.group"  placeholder="Enter group Description"/>
                  </div>
               </div>

           
            

<div class="form-group">
 <label class="col-lg-3 control-label">Write</label>
   <div class="col-lg-9">
            <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value=""  ng-model="right.write"/>
                        <span class="fa fa-check"></span></label>
                  </div>
          
            </div>
        </div>
              
        

      <div class="form-group">
 <label class="col-lg-3 control-label">Read</label>
   <div class="col-lg-9">
            <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value=""  ng-model="right.read"/>
                        <span class="fa fa-check"></span></label>
                  </div>
          
            </div>
        </div>
              
  
        <div class="form-group">
 <label class="col-lg-3 control-label">Update</label>
   <div class="col-lg-9">
            <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value=""  ng-model="right.update"/>
                        <span class="fa fa-check"></span></label>
                  </div>
          
            </div>
        </div>


              <div class="form-group">
 <label class="col-lg-3 control-label">Delete</label>
   <div class="col-lg-9">
            <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value=""  ng-model="right.delete"/>
                        <span class="fa fa-check"></span></label>
                  </div>
          
            </div>
        </div>
              
  
        <div class="form-group">
 <label class="col-lg-3 control-label">Report</label>
   <div class="col-lg-9">
            <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value=""  ng-model="right.report"/>
                        <span class="fa fa-check"></span></label>
                  </div>
          
            </div>
        </div>

              
         
              
               <div class="form-group">
                  <div class="col-lg-offset-3 col-lg-9">
                     <button class="btn btn-info btn-sm" ng-click="updateUserRight(right)">Update</button>
              
                      <button class="btn btn-warning btn-sm" type="reset">Reset</button>
                  </div>
               </div>
            </form>
<!-- END panel--></div><div class="modal-footer"><button class="btn btn-primary" ng-click="ok()">Close</button></div>
         </script>