  <div class=" companydetails"><div class="panel panel-default" ng-controller="AccountsController">
           <div class="panel-heading">
       
   <div class="clearfix">
       
      <button class="btn btn-info pull-right mr" ng-click="open()">
          Add New
                 </button>
          
          
        </div>
            
          
        </div>
           <div class="panel-body" >

           <div class="table-responsive">
           <table class="table table-striped">
                   <thead>
                 <tr>
                    
                    <th>Code</th>
                   
                    <th>Description</th>
                    
                    <th>Action</th>
                 </tr>
              </thead>
                  <tbody>
               <tr  ng-repeat="account in accounts">
                      <td> {{account.code}}</td>
                          <td> {{account.description}}</td>
             
                

                  

                    <td> <div class="clearfix">
          
       <button class="btn btn-sm btn-info  mr" type="button" ng-click="show(account)"><em class="fa fa-pencil fa-fw mr"></em></button>

       <button class="btn btn-sm btn-danger  mr" type="button" ng-click="delete(account)"><em class="fa fa-trash fa-fw mr"></em></button>
         
        
       
   
        </div></td>
                    
                    
                  
                 </tr>
                
                 
                 
              </tbody>
           </table>

            
        </div>
        
            
           
           </div>
           </div>
        </div>

  <script type="text/ng-template" id="newUserAccount.html">
              <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button><h4 class="modal-title" id="myMapModalLabel">Add Group</h4></div>
              <div class="modal-body"><!-- START panel-->

   <form class="form-horizontal" name="accountform" novalidate=""   ng-controller="AccountsController">

     

                   <div class="form-group">
                    <label class="col-lg-3 control-label">Code</label>
                    <div class="col-lg-9">
                       <input class="form-control" type="text" name="code" ng-model="account.code" ng-pattern="/^[\w,]+$/" required=""  placeholder="Enter group Code"/>
                       <span class="text-danger" ng-show="accountform.code.$dirty &amp;&amp; accountform.code.$error.required">This field is required</span>
                 <span class="text-danger" ng-show="accountform.code.$dirty &amp;&amp; accountform.code.$error.pattern">No special characters allowed</span>
                    </div>
                 </div>
                   <div class="form-group">
                    <label class="col-lg-3 control-label">Description</label>
                    <div class="col-lg-9">
                       <input class="form-control" type="text" name="desc" ng-model="account.description" placeholder="Enter First Name"  ng-pattern="/^[a-zA-Z0-9\s.\-_']+$/" ng-required="true" placeholder="Enter group Description"/>
                       <span class="text-danger" ng-show="accountform.desc.$dirty &amp;&amp; accountform.desc.$error.required">This field is required</span>
                        <span class="text-danger" ng-show="accountform.desc.$dirty &amp;&amp; accountform.desc.$error.pattern">No special characters allowed</span>
                    </div>
                      
                 </div>
                 


          
              


          

                
           
                
                 <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-9">
                       <button class="btn btn-info btn-sm" ng-disabled="accountform.$invalid" ng-click="submitUserAccount(accountform)">Save and New</button>
                         <button class="btn btn-info btn-sm" ng-disabled="accountform.$invalid" ng-click="submitUserAccountClose()">Save and Close</button>
                        <button class="btn btn-warning btn-sm" type="reset">Reset</button>
                    </div>
                 </div>

                      <div class="text-center text-success" margin-top="md" ng-show="SuccessMsg">{{SuccessMsg}}</div>
               <div class="text-center text-danger"  margin-top="md" ng-show="errorMsg">{{errorMsg}}</div>
              </form>
  <!-- END panel--></div><div class="modal-footer"><button class="btn btn-primary" ng-click="ok()">Close</button></div>
           </script>




  <script type="text/ng-template" id="EditUserAccount.html">
              <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button><h4 class="modal-title" id="myMapModalLabel">Edit Group</h4></div><div class="modal-body"><!-- START panel-->

   <form class="form-horizontal" ng-controller="AccountsController">
                    
    
              <div class="form-group">
              
                    <div class="col-lg-9">
                       <input class="form-control" type="hidden" name="trans_desc" ng-model="account.id"  placeholder="Enter group Code"/>
                    </div>
                 </div>

              <div class="form-group">
                    <label class="col-lg-3 control-label">Code</label>
                    <div class="col-lg-9">
                       <input class="form-control" type="text" name="trans_desc" ng-model="account.code"  placeholder="Enter group Code"/>
                    </div>
                 </div>
                   <div class="form-group">
                    <label class="col-lg-3 control-label">Description</label>
                    <div class="col-lg-9">
                       <input class="form-control" type="text" name="trans_desc" ng-model="account.description"  placeholder="Enter group Description"/>
                    </div>
                 </div>
                 

          


                
           
                
                 <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-9">
                       <button class="btn btn-info btn-sm" ng-click="updateUserAccount(account)">Update</button>
                
                        <button class="btn btn-warning btn-sm" type="reset">Reset</button>
                    </div>
                 </div>

                        <div class="text-center text-success" margin-top="md" ng-show="SuccessMsg">{{SuccessMsg}}</div>
               <div class="text-center text-danger"  margin-top="md" ng-show="errorMsg">{{errorMsg}}</div>
              </form>
  <!-- END panel--></div><div class="modal-footer"><button class="btn btn-primary" ng-click="ok()">Close</button></div>
           </script>