<h3>Bank files
   
</h3>
<!-- Zero Configuration-->

<!-- ngRepeat + ngResource-->

<!-- 
<div class="wrapper" ng-controller="BankFilesController as vm">
  <textarea
    ng-model="vm.val.text"
    name="textarea" rows="5" cols="20">
      Hey ho let's go!
  </textarea>
  <a href="" class="btn btn-dark btn-small" ng-click="vm.download(vm.val.text)">
    Download
  </a>
</div> -->
<div class="page"  ng-controller="BankFilesController">


   
<div class="row" >
   


   <div class="col-lg-8">

     <div class="clearfix" >
               <p class="pull-left mr"><b>Period:</b> </p>
               <p class="pull-left mr">{{period.monthDescription}} {{period.year}}</p>
              
            </div>

    

   </div>
     <div class="clearfix1">
     
   <div class="col-md-3 pull-right">
      <!-- START box placeholder-->
      <div class="box-placeholder1">
         <!-- START button group-->
         <div class="btn-group" uib-dropdown="dropdown">
            <button class="btn btn-primary" uib-dropdown-toggle="">Generate File
            </button>
            <ul class="dropdown-menu animated" role="menu">
               <li><a href="#" id ="export" role='button' class="btn btn-info pull-left mr" ng-click="exportToCSV();">Export To CSV</a>
               </li>
               <!-- <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li> -->
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
     
      </div>


</div>
<br/>






<div class="panel panel-default">
   <!-- <div class="panel-heading">Datatables |
      <small>ngRepeat + ngResource</small>
   </div> -->

  
   <div class="panel-body">
      <div class="table-responsive">

         <table class="table table-bordered" id="dvData">
            <thead>
               <tr>
                  
                  <th>PF NO. </th>
                  <th>NAME</th>
                    <th>BANK CODE </th>
                  <th>BRANCH CODE</th>
                   <th>ACCOUNT NO. </th>
                  <th>AMOUNT</th>
                
                 
                 
               </tr>
            </thead>
            <tbody id="demo-table">
               <tr ng-repeat="bankfile in bankfiles.employeeBankFileReportList">
                <td>{{bankfile.employeeNumber}}</td>
                  <td>{{bankfile.employeeName}}</td>
                 <td>{{bankfile.bankCode}}</td>
                  <td>{{bankfile.branchCode}}</td>
                  <td>{{bankfile.accountNumber}}</td>
                  <td>{{bankfile.amount}}</td>
              
               
                  
               </tr>
                 </tbody>
                  <tbody>
               <tr>
                <td colspan="4"></td>
                <td>Total</td>
                <td>{{bankfiles.totalNetPay}}</td>
              </tr>
            
            </tbody>
         </table>
       
      </div>
   </div>
</div>
</div>