<h3>Batch inputs 

</h3>
  
<div class="panel">

   <div class="panel-body" ng-controller="EmployeeBatchPostingController">
        <div class="row">


<a href="server/employeeData.csv" class="btn btn-primary pull-right mr" type="button"> 

      <em class="fa fa-download fa-fw "></em>Download the csv format</a>
      </div>

  <br/>
  <br/>
  <br/>
<form class="form-horizontal">
<div class="form-group">
   <div class="col-lg-6">
 <input type="file" class="form-control" data-Employee-file-reader-directive="fileContent" accept=".csv" data-button-text="Browse" data-class-button="btn btn-default" data-classinput="form-control inline" nv-file-select="" uploader="form.uploader"/>
</div>
</div>
  <div class="clearfix">
       
     <button class="btn btn-info btn-s" type="button" ng-click="uploadFile()" >
                     <span class="icon-cloud-upload mr"></span>Upload</button>
                  <button class="btn btn-warning btn-s" type="reset" ng-click="cancel()">
                     <span class="icon-close mr"></span>Cancel</button>


                         <button class="btn btn-info btn-s"  ng-click="save()">
                     <span class="icon-save mr"></span>Save</button>

      </div>

               <div class="text-center text-success" margin-top="md" ng-show="SuccessMsg">{{SuccessMsg}}</div>
             <div class="text-center text-danger"  margin-top="md" ng-show="errorMsg">{{errorMsg}}</div>
            <!--  {{fileData}} -->
</form>

      <div class="table-responsive table-bordered mb-lg">
         <table class="table">
            <thead>
               <tr>
                <th>Name</th>
                <th>Employee Number</th>
                <th>Id Number</th>
                <th>Passport Number</th>
                <th>Country Of Issue</th>
                <th>EXpiry Date</th>
                 <th>Date of Birth</th>
                 <th>Marital Status</th>
                 <th>Gender</th>
                 <th>Dependencies</th>
                 <th>Next of Kin</th>
                  <th>Relationship with next of Kin</th>
                  <th>Next of Kin Phone Number</th>
                  <th>  Disability</th>
                  <th> Nature of Disability</th>
                  <th> Phone Number</th>

                   <th>Emai Address</th>
                   <th>Physical Address</th>
                   <th>Postal Address</th>
                     <th>Postal Code</th>
                 <th>Pin Number</th>
                 <th>NHIF Number</th>
                 <th>NSSF Number</th>
                 <th>helb Number</th>
                 <th>Employement Date</th>
                 <th>Pay Point</th>
                 <th>Pay Mode</th>
                    <th>Bank Account Number</th>
                     <th>Bank Account Name</th>
                     <th>Bank Branch Code</th>
                       <th>Department</th>
                         <th>Cost Center</th>
                           <th>Employee Category</th>
                           <th>Employee Group</th>
                            <th>Position</th>
                            <th>Status</th>
               </tr>
            </thead>
                
                 
            <tbody>
              
               <tr  ng-repeat="data in fileData" ng-show="data.employeeNumber!=null">
                  <td>{{data.name}}</td>
                  <td>{{data.employeeNumber}}</td>
                  <td>{{data.idNumber}}</td>
                  <td>{{data.passportNumber}}</td>
                  <td>{{data.countryOfIssue}}</td>
                  <td>{{data.expiryDate}}</td>
                  <td>{{data.DateOfBirth}}</td>
                  <td>{{data.maritalStatus}}</td>
                  <td>{{data.gender}}</td>
                  <td>{{data.dependencies}}</td>
                  <td>{{data.nextOfKin}}</td>
                  <td>{{data.relationshipWithKin}}</td>
                  <td>{{data.nextOfKinPhoneNumber}}</td>
                   <td>{{data.disability}}</td>
                   <td>{{data.natureOfDisability}}</td>
                  <td>{{data.phoneNumber}}</td>
                  <td>{{data.emailAddress}}</td>
                  <td>{{data.physicalAddress}}</td>
                   <td>{{data.postalAddress}}</td>
                   <td>{{data.postalCode}}</td>
                   <td>{{data.pinNumber}}</td>
                   <td>{{data.nhifNumber}}</td>
                   <td>{{data.nssfNumber}}</td>
                    <td>{{data.helbNumber}}</td>
                    <td>{{data.employmentDate}}</td>
                    <td>{{data.paypoint}}</td>
                     <td>{{data.paymode}}</td>
                      <td>{{data.bankAccountNumber}}</td>
                        <td>{{data.bankAccountName}}</td>
                         <td>{{data.bankBranchCode}}</td>
                          <td>{{data.department}}</td>
                           <td>{{data.costCenter}}</td>
                           <td>{{data.employeeCategory}}</td>
                            <td>{{data.employeeGroup}}</td>
                            <td>{{data.position}}</td>
                            <td>
                              <button type="button" class="mb-sm btn btn-warning" ng-show="data.status == null"> <em class="fa fa-refresh" ng-show="data.status == null" ng-model="data.employee"></em>  </button>
                              
                              <button type="button" class="mb-sm btn btn-success" ng-show="data.status == true">   <em class="fa fa-check-circle" ng-show="data.status == true" ng-model="data.employee"></em> </button>

                            

                                <button type="button" class="mb-sm btn btn-danger" ng-show="data.status == false"> <em class="fa fa-close" ng-show="data.status == false" ng-model="data.employee">
                              </em>  </button>

                              
                            </td>
               </tr>
         
               
            </tbody>
         </table>
      </div>
     
</div>
</div>