
  <h3>Casuals NSSF Report

     
  </h3>
  <div class="panel panel-default" ng-controller="CasualMonthlySummaryController">
    <div class="panel-body">
           <form class="form-horizontal" name="CasualMonthlySummaryform" novalidate >
             <div class="row col-lg-12">
           <div class="form-group col-lg-6">
            <label class="col-lg-4 control-label">Select Period</label>
            <div class="col-lg-8">
  
         <select name="period" class="slider slider-lg form-control" ng-model="postingtrans.periodId" ng-options="period.id as period.monthDescription+ ' '+ period.year for period in periods" disabled="">
        <option value="0"  selected="selected">Select Period</option>
  </select>
            
                 <span class="text-danger" ng-if="CasualMonthlySummaryform.CasualMonthlySummaryModel_description.$dirty &amp;&amp; CasualMonthlySummaryform.CasualMonthlySummaryModel_description.$error.pattern">This field is invalid:No special characters allowed </span>
           </div>
         </div>

  
          <div class="form-group col-lg-4">
              <label class="col-lg-4 control-label"></label>
              <div class="col-lg-8">
                 <input type="button" class="btn btn-primary" value="Submit"   />
             </div>
           </div>                                          
            </div>
     </form>       
    </div>
    
  </div>
  <div class="panel panel-default" ng-controller="CasualMonthlySummaryController">
                   <div class="panel-heading"></div>
                   <div class="panel-body" >
                   
                     
                    
                    <div class="row col-lg-12">
                    <div class="table-responsive">
                     <table class="table table-striped" datatable="ng">
                       <thead>
                         <tr>

                          <th> Casual</th>
                          <th>Casual Name</th>
                          <th>Total Payment</th>
                          <th> Company NSSF@ 5% </th>
                        </tr>
                      </thead>
                      <tbody>
                       <tr ng-repeat="CasualMonthlySummary in CasualMonthlySummaryList">
                        <td>{{ CasualMonthlySummary.casualNumber}}</td>
                        <td>{{ CasualMonthlySummary.casualName}}</td>
                         <td>{{ CasualMonthlySummary.casualCategoryDescription}}</td>
                         <td>{{ CasualMonthlySummary.date}}</td>


        
                    </tr>

                  </tbody>
                </table>


              </div>                      
                    </div>

      
              


            </div>
          </div>
    

