
  <h3>Casuals PAYE Report

     
  </h3>
  <div class="panel panel-default" ng-controller="CasualPayeReportController">
    <div class="panel-body">
           <form class="form-horizontal" name="CasualPayeReportform" novalidate >
             <div class="row col-lg-12">
             <div class="form-group col-md-4">
              <label class="col-md-4 control-label">Date From</label>
              <div class="col-md-8" ng-controller="DatepickerDemoCtrl as dp">
                    <p class="input-group">
                        <input class="form-control" type="text" name="date_from" uib-datepicker-popup="{{dp.format}}" ng-model="CasualPayeReportModel.dateFrom" is-open="dp.opened" min-date="dp.minDate" max-date="'2015-06-22'" datepicker-options="dp.dateOptions" date-disabled="dp.disabled(date, mode)"
                        ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                           <button class="btn btn-default" type="button" ng-click="dp.open($event)">
                              <em class="fa fa-calendar"></em>
                           </button>
                        </span>
                     </p>
             </div>
           </div>

             <div class="form-group col-md-4">
              <label class="col-md-4 control-label">Date To</label>
              <div class="col-md-8" ng-controller="DatepickerDemoCtrl as dp">
                    <p class="input-group">
                        <input class="form-control" type="text" name="date_to" uib-datepicker-popup="{{dp.format}}" ng-model="CasualPayeReportModel.dateTo" is-open="dp.opened" min-date="dp.minDate" max-date="'2015-06-22'" datepicker-options="dp.dateOptions" date-disabled="dp.disabled(date, mode)"
                        ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                           <button class="btn btn-default" type="button" ng-click="dp.open($event)">
                              <em class="fa fa-calendar"></em>
                           </button>
                        </span>
                     </p>
             </div>
           </div> 

          <div class="form-group col-md-4">
              <label class="col-md-4 control-label"></label>
              <div class="col-md-8">
                 <button class="btn btn-primary" value="Process Report"  ng-click="processReport(CasualPayeReportModel)" >Process Report</button>
             </div>
           </div>                                            
            </div>
     </form>       

                   
                     
                    
                    <div class="row col-lg-12">
                    <div class="table-responsive">
                     <table class="table table-striped" datatable="ng">
                       <thead>
                         <tr>

                          <th> Casual</th>
                          <th>Casual Name</th>
                          <th>Total Payment</th>
                          <th>PAYE</th>
                        </tr>
                      </thead>
                      <tbody>
                       <tr ng-repeat="CasualPayeReport in CasualPayeReportList">
                        <td>{{ CasualPayeReport.casualNumber}}</td>
                        <td>{{ CasualPayeReport.casualName}}</td>
                         <td>{{ CasualPayeReport.totalPayments}}</td>
                         <td>{{ CasualPayeReport.paye}}</td>


        
                    </tr>

                  </tbody>
                </table>


              </div>                      
                    </div>

      
              


            </div>
          </div>
    

