
  <h3>Casuals Monthly Category Summary

     
  </h3>
  <div class="panel panel-default" >
    <div class="panel-body" ng-controller="CasualMonthlySummaryController">
           <form name="CasualMonthlySummaryform" novalidate  >
             <div class="row">
              <div class="col-md-12">
             <div class="form-group col-md-4">
              <label class="col-md-4 control-label">Date From</label>
              <div class="col-md-8" ng-controller="DatepickerDemoCtrl as dp">
                    <p class="input-group">
                        <input class="form-control" type="text" name="date_from" uib-datepicker-popup="{{dp.format}}" ng-model="CasualMonthlySummaryModel.dateFrom" is-open="dp.opened" min-date="dp.minDate" max-date="'2015-06-22'" datepicker-options="dp.dateOptions" date-disabled="dp.disabled(date, mode)"
                        ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                           <button class="btn btn-default" type="button" ng-click="dp.open($event)">
                              <em class="fa fa-calendar"></em>
                           </button>
                        </span>
                     </p>
             </div>
           </div>

             <div class="form-group col-md-4">
              <label class="col-md-4 control-label">Date To</label>
              <div class="col-md-8" ng-controller="DatepickerDemoCtrl as dp">
                    <p class="input-group">
                        <input class="form-control" type="text" name="date_to" uib-datepicker-popup="{{dp.format}}" ng-model="CasualMonthlySummaryModel.dateTo" is-open="dp.opened" min-date="dp.minDate" max-date="'2015-06-22'" datepicker-options="dp.dateOptions" date-disabled="dp.disabled(date, mode)"
                        ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                           <button class="btn btn-default" type="button" ng-click="dp.open($event)">
                              <em class="fa fa-calendar"></em>
                           </button>
                        </span>
                     </p>
             </div>
           </div> 
          <div class="form-group col-md-4">
              <label class="col-md-4 control-label">Approved</label>
              <div class="col-md-8">
                 <input type="checkbox" name="isApproved" value="1" ng-model="CasualMonthlySummaryModel.isApproved"    />
             </div>
           </div>              
           </div>
         </div>
            <div class="row">        
              <div class="col-md-12">
          <div class="form-group col-md-4">
              <label class="col-md-4 control-label">Paid</label>
              <div class="col-md-8">
                 <input type="checkbox" name="isPaid" value="1" ng-model="CasualMonthlySummaryModel.isPaid"    />
             </div>
           </div>  
          <div class="form-group col-md-4">
              <label class="col-md-4 control-label"></label>
              <div class="col-md-8">
                 <button class="btn btn-primary" value="Process Report"  ng-click="processReport(CasualMonthlySummaryModel)" >Process Report</button>
             </div>
           </div>                                          
            </div>
          </div>
     </form>       

                   
                     
                    
                    <div class="row col-md-12">
                    <div class="table-responsive">
                     <table class="table table-striped" datatable="ng">
                       <thead>
                         <tr>

                          <th>Category</th>
                          <th>Category Name</th>
                          <th>Total Payments</th>

                        </tr>
                      </thead>
                      <tbody>
                       <tr ng-repeat="CasualMonthlySummary in CasualMonthlySummaryList">
                        <td>{{ CasualMonthlySummary.casualCategoryCode}}</td>
                        <td>{{ CasualMonthlySummary.casualCategoryDescription}}</td>
                         <td>{{ CasualMonthlySummary.totalPayments}}</td>


        
                    </tr>

                  </tbody>
                </table>


              </div>                      
                    </div>

      
              


            </div>
          </div>
    

