
<!-- START widgets box-->
<div class="row" ng-controller="DashboardController">
   <div class="col-lg-3 col-md-12">
      <!-- START widget-->
      <div class="panel widget bg-success">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-success-dark pv-lg">
               <em class="fa fa-calendar fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 m0 text-bold">{{dashboard.currentPeriod.month}} {{dashboard.currentPeriod.year}}</div>
               <div class="text-uppercase">Current Period</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-md-12">
      <!-- START widget-->
      <div class="panel widget bg-danger">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-danger-dark pv-lg">
               <em class="fa fa-users fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 m0 text-bold">{{dashboard.noOfEmployees}}</div>
               <div class="text-uppercase">Head Count</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-md-12">
      <!-- START widget-->
      <div class="panel widget bg-purple-light">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-purple-dark pv-lg">
               <em class="icon-badge fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 m0 text-bold">364</div>
               <div class="text-uppercase">Remaining Days</div>
            </div>
         </div>
      </div>
   </div>   
   <div class="col-lg-3 col-md-12">
      <!-- START widget-->
      <div class="panel widget bg-info-light">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-info-dark pv-lg">
               <em class="fa fa-clock-o fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 m0 text-bold">{{day}}<span class="text-sm text-white">{{month}}</span></div>
               <div class="text-uppercase">   Today </div>
            </div>
         </div>
      </div>
   </div>
   
</div>

<!-- START row-->
<div class="calendar-app" ng-controller="CalendarController">
   <div class="row">
      <div class="col-lg-12 col-md-12">
         <div class="well">
            <div class="panel-heading">Calendar</div>
            <div class="panel-body">
               <!-- START calendar-->
               <div class="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
            </div>
         </div>
      </div>
   </div>
</div>