<h3>Employee Groups
   
</h3>

    <div class="panel panel-default" ng-controller="EmpGroupController">
     <div class="panel-heading"><div class="clearfix">
   <button class="btn btn-info pull-right mr" type="button" ng-click="open()">Add New</button>
        
        
      </div></div>
     <div class="panel-body"  >
      <div class="table-responsive">
       <table class="table table-striped" datatable="ng"  >
         <thead>
          <tr>
           <th> Code</th>
           <th>Description</th>
           <th>Action</th>
         </tr>
       </thead>
       <tbody>
        <tr ng-repeat="group in groups">
        
          <td>{{group.code}}</td>
          <td>{{group.description }}</td>


          <td>
            <div class="buttons" >
             <button class="btn btn-info pull-left mr" type="button" ng-click="showgroup(group)" > <em class="fa fa-pencil"></em></button>
                   
                        <button class="btn btn-sm btn-danger"  ng-click="delete(group)" title="Delete">
                          <em class="fa fa-trash"></em>
                        </button>
                      </div>
                    </td>          
                  </tr>

                </tbody>
              </table>


            </div>
      
            
<script type="text/ng-template" id="newGroup.html">
        <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button><h4 class="modal-title" id="myMapModalLabel">Add Employee Group</h4></div>
        <div class="modal-body" ng-controller="EmpGroupController">
      
          <form class="form-horizontal"  name="groupform" novalidate>

           <div class="form-group">
            <label class="col-lg-3 control-label"> Group Code</label>
            <div class="col-lg-9">
             <input class="form-control" type="text" name="group_code" ng-model="groupone.code" ng-required="true"
        ng-pattern="/^[\w,]+$/"  placeholder="Enter Group Code"/>
         <span class="text-danger" ng-show="groupform.group_code.$dirty &amp;&amp; groupform.group_code.$error.required">This field is required
         </span>
               <span class="text-danger" ng-if="groupform.group_code.$dirty &amp;&amp; groupform.group_code.$error.pattern">This field is invalid:No special characters allowed </span>
           </div>
         </div>
         <div class="form-group">
           <label class="col-lg-3 control-label">Descriptions</label>
           <div class="col-lg-9">
             <input class="form-control" type="text" name="group_description" ng-model="groupone.description" ng-pattern="/^[a-zA-Z0-9\s.\-_']+$/"  ng-required="true"   placeholder=" Enter Group Descriptions"/>
             <span class="text-danger" ng-show="groupform.group_description.$dirty &amp;&amp; groupform.group_description.$error.required">This field is required
         </span>
               <span class="text-danger" ng-if="groupform.group_description.$dirty &amp;&amp; groupform.group_description.$error.pattern">This field is invalid:No special characters allowed </span>
           </div>
         </div>


     <div class="form-group">
      <div class="col-lg-offset-3 col-lg-9">
       <button class="btn btn-info btn-sm" ng-disabled="groupform.$invalid"  ng-click="submitGroup(groupform)">Save and New</button>
         <button class="btn btn-info btn-sm" ng-disabled="groupform.$invalid"  ng-click="closeGroup()">Save and Close</button>
          <button class="btn btn-warning btn-sm" type="reset">Reset</button>
     </div>
   
   </div>
           <div class="text-center text-success" margin-top="md" ng-show="SuccessMsg">{{SuccessMsg}}</div>
             <div class="text-center text-danger"  margin-top="md" ng-show="errorMsg">{{errorMsg}}</div>
 </form>

</div>
<div class="modal-footer"><button class="btn btn-primary" ng-click="ok()">Close</button></div>
</script>

<script type="text/ng-template" id="editGroup.html">
     <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button><h4 class="modal-title" id="myMapModalLabel">Edit Employee Group</h4></div>
     <div class="modal-body" ng-controller="EmpGroupController">
  
          <form class="form-horizontal" name="groupform" novalidate>

           <div class="form-group">
           
            <div class="col-lg-9">
             <input class="form-control" type="hidden" name="cat_code" ng-model="group.id"  placeholder="Enter Group Code"/>
           </div>
         </div>
         <div class="form-group">
            <label class="col-lg-3 control-label"> Group Code</label>
            <div class="col-lg-9">
             <input class="form-control" type="text" name="group_code" ng-model="group.code" ng-required="true"
        ng-pattern="/^[\w,]+$/"  placeholder="Enter Group Code"/>
         <span class="text-danger" ng-show="groupform.group_code.$dirty &amp;&amp; groupform.group_code.$error.required">This field is required
         </span>
               <span class="text-danger" ng-if="groupform.group_code.$dirty &amp;&amp; groupform.group_code.$error.pattern">This field is invalid:No special characters allowed </span>
           </div>
         </div>
         <div class="form-group">
           <label class="col-lg-3 control-label">Descriptions</label>
           <div class="col-lg-9">
             <input class="form-control" type="text" name="group_description" ng-model="group.description"  ng-pattern="/^[a-zA-Z0-9\s.\-_']+$/"  ng-required="true" placeholder="Enter Descriptions"/>

              <span class="text-danger" ng-show="groupform.group_description.$dirty &amp;&amp; groupform.group_description.$error.required">This field is required
              </span>
               <span class="text-danger" ng-if="groupform.group_description.$dirty &amp;&amp; groupform.group_description.$error.pattern">This field is invalid:No special characters allowed </span>
           </div>
         </div>
         
     </div>

     <div class="form-group">
      <div class="col-lg-offset-3 col-lg-9">
       <button class="btn btn-info btn-sm" ng-disabled="groupform.$invalid" ng-click="updategroup(group)">Update</button>
          <button class="btn btn-warning btn-sm" type="reset">Reset</button>
     </div>
   </div>
 </form>

</div>
<div class="modal-footer"><button class="btn btn-primary" ng-click="ok()">Close</button></div>

</script>
          </div>
        </div>


      


