
<h3>Exemptions
   
</h3>

    <div class="panel panel-default" ng-controller="ExemptionsController">
     <div class="panel-heading">
      <div class=" clearfix buttons">
                       <button class="btn btn-info pull-right mr" type="button" ng-click="open()">Add New</button>  
                                                      
                     
                    </div>
                  </div>
     <div class="panel-body"  >
      <div class="table-responsive">
       <table class="table table-striped" >
         <thead>
          <tr>
           <th>Period</th>
           <th>Employee Group</th>
           <th>Payroll Code</th>
             <th></th>
       
               <th>Action</th>
         </tr>
       </thead>
       <tbody>
        <tr ng-repeat="exemption in exemptionData">
        
          <td>{{exemption.periodDescription}}</td>
          <td>{{exemption.employeeGroupDescription }}</td>
          <td>{{exemption.payrollCodeDescription }}</td>
          

          <td>
            <div class="buttons" >
             <button class="btn btn-info pull-left mr" type="button" ng-click="show(exemption)" > <em class="fa fa-pencil"></em></button>
                   
                        <button class="btn btn-sm btn-danger"  ng-click="delete(exemption)" title="Delete">
                          <em class="fa fa-trash"></em>
                        </button>
                      </div>
                    </td>          
                  </tr>

                </tbody>
              </table>


            </div>
           <!--  <button class="btn btn-info pull-left mr" type="button" ng-click="open()">Add New</button> -->
            
<script type="text/ng-template" id="addExempt.html">
        <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button><h4 class="modal-title" id="myMapModalLabel">Add Exempt Employee</h4></div>
        <div class="modal-body" ng-controller="ExemptionsController">
      
          <form class="form-horizontal" name="exemptionform" novalidate >
            <div class="form-group">
            <label class="col-lg-3 control-label">Period</label>
            <div class="col-lg-9">
            <select class="form-control" name="period" ng-model="exempt.periodId" ng-options="period.id as period.monthDescription+' - '+period.year for period in periodData" ng-required="true" >
    <option value="" disabled selected>Select Period</option>
  </select>

   <span class="text-danger" ng-show="exemptionform.$submitted &amp;&amp; exemptionform.period.$error.required">This field is required</span>
           </div>
         </div>          
         <div class="form-group">
           <label class="col-lg-3 control-label">Employee Group</label>
           <div class="col-lg-9">
                  <select class="form-control" name="employeeGroup" ng-model="exempt.employeeGroupId" ng-options="employeeGroup.id as employeeGroup.description for employeeGroup in employeeGroupData" ng-required="true">
    <option value="" disabled selected>Seelct Employee Group</option>
  </select>
  <span class="text-danger" ng-show="exemptionform.$submitted &amp;&amp; exemptionform.employeeGroup.$error.required">This field is required</span>
           </div>
         </div>
           <div class="form-group">
            <label class="col-lg-3 control-label"> Payroll Code</label>
            <div class="col-lg-9">
            <select class="form-control" name="period" ng-model="exempt.payrollCodeId" ng-options="code.id as code.code+' - '+code.description for code in pcodes" ng-required="true" >
    <option value="" disabled selected>Select Payroll Code</option>
  </select>

   <span class="text-danger" ng-show="exemptionform.$submitted &amp;&amp; exemptionform.period.$error.required">This field is required</span>
           </div>
         </div>

     

     <div class="form-group">
      <div class="col-lg-offset-3 col-lg-9">
       <button class="btn btn-info btn-sm" ng-click="exemptionform.$valid && submitExempt(exemptionform)">Save and New</button>
       <button class="btn btn-info btn-sm" ng-click="exemptionform.$valid && CloseExempt(exempt)">Save and Close</button>
          <button class="btn btn-warning btn-sm" type="reset">Reset</button>
     </div>
   
   </div>
      <div class="text-center text-success" margin-top="md" ng-show="SuccessMsg">{{SuccessMsg}}</div>
             <div class="text-center text-danger"  margin-top="md" ng-show="errorMsg">{{errorMsg}}</div>

 </form>

</div>
<div class="modal-footer"><button class="btn btn-primary" ng-click="ok()">Close</button></div>
</script>

<script type="text/ng-template" id="EditExempt.html">
     <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button><h4 class="modal-title" id="myMapModalLabel">Update </h4></div>
     <div class="modal-body" ng-controller="ExemptionsController" >
  
          <form class="form-horizontal" name="exemptionform" novalidate>

<div class="form-group">
            <label class="col-lg-3 control-label">Period</label>
            <div class="col-lg-9">
            <select class="form-control" name="period" ng-model="exempt.periodId" ng-options="period.id as period.monthDescription+' - '+period.year for period in periodData" ng-required="true" >
    <option value="" disabled selected>Select Period</option>
  </select>

   <span class="text-danger" ng-show="exemptionform.$submitted &amp;&amp; exemptionform.period.$error.required">This field is required</span>
           </div>
         </div>          
         <div class="form-group">
           <label class="col-lg-3 control-label">Employee Group</label>
           <div class="col-lg-9">
                  <select class="form-control" name="employeeGroup" ng-model="exempt.employeeGroupId" ng-options="employeeGroup.id as employeeGroup.description for employeeGroup in employeeGroupData" ng-required="true">
    <option value="" disabled selected>Seelct Employee Group</option>
  </select>
  <span class="text-danger" ng-show="exemptionform.$submitted &amp;&amp; exemptionform.employeeGroup.$error.required">This field is required</span>
           </div>
         </div>
           <div class="form-group">
            <label class="col-lg-3 control-label"> Payroll Code</label>
            <div class="col-lg-9">
            <select class="form-control" name="period" ng-model="exempt.payrollCodeId" ng-options="code.id as code.code+' - '+code.description for code in pcodes" ng-required="true" >
    <option value="" disabled selected>Select Payroll Code</option>
  </select>

   <span class="text-danger" ng-show="exemptionform.$submitted &amp;&amp; exemptionform.period.$error.required">This field is required</span>
           </div>
         </div>
       
 

     <div class="form-group">
      <div class="col-lg-offset-3 col-lg-9">
       <button class="btn btn-info btn-sm"  ng-click="exemptionform.$valid && updateExempt(exempt)" >Update</button>
          <button class="btn btn-warning btn-sm" type="reset">Reset</button>
     </div>
   </div>
 </form>

</div>
<div class="modal-footer"><button class="btn btn-primary" ng-click="ok()">Close</button></div>

</script>
          </div>
        </div>
 

      
