

<h3>Leave Types
   
  </h3>

            <div class="panel b" ng-controller="LeaveController">
             <div class="panel-heading">
</div>
         <div class="panel-body" >

          <div class="row">
             <button class="btn btn-primary pull-right mr" type="button" ng-click="open()"><em class="fa fa-plus-circle fa-fw mr-1"></em> Add New</button>
          </div>

         <div class="table-responsive">
         <table class="table table-striped table-hover">
                 <thead>
               <tr>
                  <th> Type</th>
                  <th>Description</th>

                  
                   <th>Action</th>
                  
               </tr>
            </thead>
                <tbody>
               <tr ng-repeat="leave in leaves">
                    <td>{{ leave.code }}</td>
                    <td>{{ leave.description }}</td>

                 
            
                      <td>
                        <div class="buttons">
                       <button class="btn btn-info pull-left mr" type="button" ng-click="show(leave)"><em class="fa fa-pencil"></em></button>
        
                     <button class="btn btn-sm btn-danger"  ng-click="delete(leave)" title="Delete">
                    <em class="fa fa-trash"></em>
                     </button>
                    </div>
                     </td>          
                 </tr>
              
              
               
            </tbody>
         </table>

          
      </div>
           
          
         
         </div>
         </div>


      <script type="text/ng-template" id="addLeave.html">
            <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button><h4 class="modal-title" id="myMapModalLabel">Add Leave</h4></div>
            <div class="modal-body" ng-controller="LeaveController"><!-- START panel-->

 <form class="form-horizontal" name="leavetypesform" novalidate>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Code
</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text"  name="leave_name"  ng-model="leave.code" ng-required="true"
        ng-pattern="/^[\w,]+$/" placeholder="code"/>

        <span class="text-danger" ng-show="leavetypesform.leave_name.$dirty &amp;&amp; leavetypesform.leave_name.$error.required">This field is required</span>
               <span class="text-danger" ng-if="leavetypesform.leave_name.$dirty &amp;&amp; leavetypesform.leave_name.$error.pattern">This field is invalid:No special characters allowed </span>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-lg-3 control-label"> Description</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text" name="leave_desc" ng-model="leave.description" ng-pattern="/^[a-zA-Z0-9\s.\-_']+$/"  ng-required="true" placeholder="eg. Annual"/>
                           <span class="text-danger" ng-show="leavetypesform.leave_desc.$dirty &amp;&amp; leavetypesform.leave_desc.$error.required">This field is required </span>
               <span class="text-danger" ng-if="leavetypesform.leave_desc.$dirty &amp;&amp; leavetypesform.leave_desc.$error.pattern">This field is invalid:No special characters allowed </span>

                  </div>
               </div>


              
              
              
               <div class="form-group">
                  <div class="col-lg-offset-3 col-lg-9">
                     <button class="btn btn-info btn-sm" ng-disabled="leavetypesform.$invalid" ng-click="submitLeaveTypes(leavetypesform)">Save and New</button>
                       <button class="btn btn-info btn-sm" ng-disabled="leavetypesform.$invalid" ng-click="closesubmitLeaveTypes(leave)">Save and Close</button>
                        <button class="btn btn-warning btn-sm" type="reset">Reset</button>
                  </div>
               </div>


                      <div class="text-center text-success" margin-top="md" ng-show="SuccessMsg">{{SuccessMsg}}</div>
             <div class="text-center text-danger"  margin-top="md" ng-show="errorMsg">{{errorMsg}}</div>
            </form>
<!-- END panel--></div><div class="modal-footer"><button class="btn btn-primary" ng-click="ok()">Close</button></div>
         </script>

            <script type="text/ng-template" id="editLeave.html">
            <div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button><h4 class="modal-title" id="myMapModalLabel">Edit Leave</h4></div><div class="modal-body"><!-- START panel-->

 <form class="form-horizontal" name="leavetypesform" novalidate>
  <div class="form-group">
                 
                  <div class="col-lg-9">
                     <input class="form-control" type="hidden"  name="leave_name"  ng-model="leave.id" placeholder="Leave Type"/>
                  </div>
               </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Type
</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text"  name="leave_name"  ng-model="leave.code" ng-required="true"
        ng-pattern="/^[\w,]+$/" placeholder="Leave Type"/>

        <span class="text-danger" ng-show="leavetypesform.leave_name.$dirty &amp;&amp; leavetypesform.leave_name.$error.required">This field is required</span>
               <span class="text-danger" ng-if="leavetypesform.leave_name.$dirty &amp;&amp; leavetypesform.leave_name.$error.pattern">This field is invalid:No special characters allowed </span>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-lg-3 control-label"> Description</label>
                  <div class="col-lg-9">
                     <input class="form-control" type="text" name="leave_desc" ng-model="leave.description" placeholder="eg. Annual"/>
                      <span class="text-danger" ng-show="leavetypesform.leave_desc.$dirty &amp;&amp; leavetypesform.leave_desc.$error.required">This field is required </span>
               <span class="text-danger" ng-if="leavetypesform.leave_desc.$dirty &amp;&amp; leavetypesform.leave_desc.$error.pattern">This field is invalid:No special characters allowed </span>

                  </div>
               </div>


              
              
              
               <div class="form-group">
                  <div class="col-lg-offset-3 col-lg-9">
                     <button class="btn btn-info btn-sm" ng-click="UpdateLeaveTypes(leave)">Update</button>
                          <button class="btn btn-info btn-sm" type="reset">Reset</button>
                  </div>
               </div>

                <div class="text-center text-success" margin-top="md" ng-show="SuccessMsg">{{SuccessMsg}}</div>
             <div class="text-center text-danger"  margin-top="md" ng-show="errorMsg">{{errorMsg}}</div>
            </form>
<!-- END panel--></div><div class="modal-footer"><button class="btn btn-primary" ng-click="ok()">Close</button></div>
         </script>


               
            

             
