

<h3>Payslip</h3>

<div class="row" ng-controller="PayslipController">
   
             

   <div class="col-lg-8">
      <form class="form-inline">
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <div class="input-group-addon">Period</div>
  
         <select name="period" class="slider slider-lg form-control" ng-model="user.period" ng-options="period.id as period.period for period in periods" ng-change="searchpayslipByperiod(user.period)" >
        <option value="" disabled selected>Periods</option>
  </select>
  </div>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <div class="input-group-addon">Employee Number</div>
    <select name="employeeNumber" class="slider slider-lg form-control" ng-model="user.employeeNumber" ng-options="employee.id as employee.employeeNumber for employee in employees" >
        <option value="" disabled selected>Employees</option>
  </select>
  </div>
  <button type="submit" ng-click="searchPayslip(user)" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
</form>
  


   </div>



<br/>

<div class="row">
    
   <div class="col-lg-12" >

      <!-- START widget-->
      <div class="panel panel-default" ng-repeat="payslip in persons">
         <div class="panel-body" >
           <div class="row">

   <div class="col-lg-4 col-xs-6 br pv">
            <div class="col-md-12">
               <p class="pull-left"><strong>Employee NO.</strong></p>
               <p class="pull-right mr">{{payslip.payslipInfo.employeeNumber}}</p>
            </div>
         </div>
          <div class="col-lg-4 col-xs-6 br pv">
            <div class="col-md-12">
               <p class="pull-left"><strong>Employee Name.</strong></p>
               <p class="pull-right mr">{{payslip.payslipInfo.employeeName}}</p>
            </div>
         </div>
          <div class="col-lg-4 col-xs-6 br pv">
            <div class="col-md-10">
               <p class="pull-left"><strong>Pay Period</strong></p>
               <p class="pull-right mr">{{payslip.payslipInfo.period}}</p>
            </div>
         </div>
         <div class="col-md-12">
            <p class="lead bb">Earnings</p>
           
               <table class="table  table-bordered-white">
            
                  <thead>
                   
                  </thead>
                  <tbody>
                     <tr ng-repeat="earning in payslip.earnings.payslipCodeList">
                     <!--    <td >{{payslipcode.code}}</td> -->
                        <td style="width:50%">{{earning.description}}</td>
                        <td style="width:50%">{{earning.amount}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <div class="row">
         <div class="col-md-12">
         <p class="lead bb">Tax Calculations</p>
           <div class="table-responsive">
            
               <table class="table table-bordered-white">
            
                  <tbody>
          <tr ng-repeat="tax in payslip.taxCalculations.payslipCodeList">
                     <!--    <td >{{payslipcode.code}}</td> -->
                        <td style="width:50%">{{tax.description}}</td>
                        <td style="width:50%">{{tax.amount}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         
      </div>
 <br/>
      <div class="row">
         <div class="col-md-12">
            <p class="lead bb">Deductions  
</p>
             <div class="table-responsive">
        
               <table class="table table-bordered-white">
               
                  <tbody>
                     <tr ng-repeat="deduction in payslip.deductions.payslipCodeList">
                     <!--    <td >{{payslipcode.code}}</td> -->
                        <td style="width:50%">{{deduction.description}}</td>
                        <td style="width:50%">{{deduction.amount}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      
      </div>
  <br/>

      <div class="row">
         <div class="col-md-12">
            <p class="lead bb">Benefits 
</p>
             <div class="table-responsive">
        
               <table class="table table-bordered-white">
                   
               
                  <tbody>
                    <tr ng-repeat="benefit in payslip.benefits.payslipCodeList">
                     <!--    <td >{{payslipcode.code}}</td> -->
                        <td style="width:50%">{{benefit.description}}</td>
                        <td style="width:50%">{{benefit.amount}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      
      </div>

      <br/>

       <div class="row">
         <div class="col-md-12">
            <p class="lead bb">Company Information
</p>
             <div class="table-responsive">
        
               <table class="table table-bordered-white">
                  
                  <tbody>
                    <tr ng-repeat="benefit in payslip.benefits.payslipCodeList">
                     <!--    <td >{{payslipcode.code}}</td> -->
                        <td style="width:50%">{{benefit.description1}}</td>
                        <td style="width:50%">{{benefit.amount1}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      
      </div>
      <br/>

      <div class="row">
         <div class="col-md-12">
            <p class="lead bb">Rates
</p>
             <div class="table-responsive">
        
               <table class="table table-bordered-white">
              
                  <tbody>
                    <tr ng-repeat="benefit in payslip.benefits.payslipCodeList">
                     <!--    <td >{{payslipcode.code}}</td> -->
                        <td style="width:50%">{{benefit.description1}}</td>
                        <td style="width:50%">{{benefit.amount1}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      
      </div>
      <br/>

       <div class="row">
         <div class="col-md-12">
            <p class="lead bb">Messages
</p>
             <div class="table-responsive">
        
               <table class="table table-bordered-white">
               
                  <tbody>
                    <tr ng-repeat="benefit in payslip.benefits.payslipCodeList">
                     <!--    <td >{{payslipcode.code}}</td> -->
                        <td style="width:50%">{{benefit.description1}}</td>
                        <td style="width:50%">{{benefit.amount1}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      
      </div>
         </div>
      </div>
      <!-- END widget-->
   </div>
   
 
</div>

<br/>
  <div class="clearfix">
   
          <a  class="btn btn-success pull-right mr" ui-sref="app.payroll-approve" ui-sref-active="active">Back</a>
      </div>
</div>



