<h3>Scheduler Details
</h3>

<div class="container-fluid" ng-controller="SchedulerController">
<!-- START panel-->

<div class="panel panel-default">
   <div class="panel-heading">Select Scheduler Type</div>
   <div class="panel-body">
    <div class="row col-lg-12">
      <div class="col-lg-12" style="margin-bottom: 10px;" ><a class="btn btn-primary" ui-sref="app.employee-based-scheduler">Employee Based</a></div>
      <div class="col-lg-12"><a class="btn btn-primary" ui-sref="app.period-based-scheduler">Period Based</a></div>      
    </div>
      
   </div>
</div>
</div>
<!-- END panel-->

