<h3>Schedules</h3>



<div ng-controller="SchedulerController">

    <div class="panel panel-default" id="panelDemo15">
         <div class="panel-heading"></div>
         <div class="panel-body">
            <uib-tabset  type="pills">
          

               
               <uib-tab heading="Period Based">



  <div class="panel panel-widget" id="panelDemo14">
       
         <div class="panel-body">
          <form>
         	 <div class="panel-heading bg-gray-lighter  text-bold"> Headers</div>

            <uib-tabset  active="activePill"  type="pills">
              
        <uib-tab heading="Company Details">    <div class="panel-body">
       <div class="schedulerHeight">
               <div class="form-group" ng-repeat="company in details.company">
               <label class="col-sm-3 control-label">{{company.description}}</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" data-checklist-model="scheduler.companyScheduler" data-checklist-value="company.name"/>
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>
          
</div>
             
               </div></uib-tab>
               <uib-tab heading="Periods" >
               	     <div class="panel-body" >
                        <div class="schedulerHeight">
                                     
   <div class="form-group" ng-repeat="period in periods">
               <label class="col-sm-3 control-label">{{period.month}} {{period.year}} </label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input type="checkbox"  data-checklist-model="scheduler.periodScheduler" data-checklist-value="period.id"/>
                        <span class="fa fa-check"></span></label>

                  </div>
                
               </div>
             </div>

            
                  
            
            </div>

        
             
               </div>

               </uib-tab>

      
   
            </uib-tabset>


 
<div class="panel b">
   <!-- <div class="panel-heading bg-gray-lighter text-bold">Columns
  
   </div> -->
   <div class="panel-body">
     <div class="container-md">
   <div class="row">
      <div class="col-md-3">
         <div class="panel b">
  
            <div class="panel-heading bg-gray-lighter text-bold">Columns</div> 
       <div class="list-group" ng-init="settingActive = 1"><a class="list-group-item" href="" ng-click="settingActive=1" ng-class="{'active': (settingActive == 1)}">Employee Details</a><a class="list-group-item" href="" ng-click="settingActive=4" ng-class="{'active': (settingActive == 4)}">Category</a><a class="list-group-item"
               href="" ng-click="settingActive=5" ng-class="{'active': (settingActive == 5)}">Departments</a><a class="list-group-item" href="" ng-click="settingActive=6" ng-class="{'active': (settingActive == 6)}">Cost Centers</a><a class="list-group-item"
               href="" ng-click="settingActive=7" ng-class="{'active': (settingActive == 7)}">Payroll Codes</a>

               <a class="list-group-item"
               href="" ng-click="settingActive=8" ng-class="{'active': (settingActive == 8)}">Totals</a>
            </div>
         </div>
      </div>
     <div class="col-md-9">
         <div ng-show="settingActive == 1">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Employee Details</div>
               <div class="panel-body">
             <div class="schedulerHeight">
                    <table class="table table-bordered-white " >
            <thead>
               <tr><th>Employee Atributes</th>
                    <th>Add to colums</th>
                 
                 
                 
               </tr>
            </thead>
            <tbody >
             
               <tr ng-repeat="employee in details.employee">


                  <td >{{employee.description}}</td>
            
                  <td><div class="form-group">
               <label class="col-sm-3 control-label"> </label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input type="checkbox" data-checklist-model="scheduler.employee" data-checklist-value="employee.name"/>
                        <span class="fa fa-check"></span></label>

                  </div>
                
               </div>
             </div> </td>
           <!--   <td><div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span></label>
                  </div></td> -->

                    
               </tr>
               


             


              
              
               
            
            </tbody>
         </table>
         </div>
           
               </div>
            </div>
         </div>
         <div ng-show="settingActive == 4">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Category</div>
               <div class="panel-body">
                     <div class="form-group">
               <label class="col-sm-3 control-label">Code</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" data-checklist-model="scheduler.category" data-checklist-value="'code'" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>

             <div class="form-group">
               <label class="col-sm-3 control-label">Description</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                         <input class="needsclick" type="checkbox" data-checklist-model="scheduler.category" data-checklist-value="'description'" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>
               </div>
            </div>
            
         </div>
         <div ng-show="settingActive == 5">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold" >Departments</div>
               <div class="panel-body">
                      <div class="form-group">
               <label class="col-sm-3 control-label">Code</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" data-checklist-model="scheduler.department" data-checklist-value="'code'" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>

             <div class="form-group">
               <label class="col-sm-3 control-label">Description</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                      <input class="needsclick" type="checkbox" data-checklist-model="scheduler.department" data-checklist-value="'description'" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>
               </div>
              
            </div>
         </div>
         <div ng-show="settingActive == 6">
  <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Cost Centers</div>
               <div class="panel-body">
                     <div class="form-group">
               <label class="col-sm-3 control-label">Code</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" data-checklist-model="scheduler.costCentre" data-checklist-value="'code'" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>

             <div class="form-group">
               <label class="col-sm-3 control-label">Description</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                          <input class="needsclick" type="checkbox" data-checklist-model="scheduler.costCentre" data-checklist-value="'description'" />
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>
               </div>
              
            </div>
         </div>
         <div ng-show="settingActive == 7">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Payroll Codes</div>
               <div class="panel-body">
                   <div class="schedulerHeight">
                    <table class="table table-bordered-white " >
            <thead>
               <tr><th>Payroll Code</th>
                    <th>Description</th>
                      <th>Add to colums</th>
                    <th>Totals on Numeric Fields</th>
               
                 
                 
               </tr>
            </thead>
            <tbody >
              
               <tr ng-repeat="code in pcodes">
                  <td >{{code.code}}</td>
                  <td >{{code.description}}</td>
                  <td ><div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                       <input class="needsclick" type="checkbox" data-checklist-model="scheduler.PayrollCodes" data-checklist-value="code.id" />
                        <span class="fa fa-check"></span></label>
                  </div></td>
                    <td ><div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                       <input class="needsclick" type="checkbox" data-checklist-model="scheduler.total" data-checklist-value="code.id" />
                        <span class="fa fa-check"></span></label>
                  </div></td>
                 
                  
                 
                
               </tr>
               
       
            
            </tbody>
         </table>

             </div>
               </div>
            </div>
         </div>



         <div ng-show="settingActive == 8">
  <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Totals</div>
               <div class="panel-body">
               	<div class="panel-heading text-bold" style="width: 50%"><h4>Columns to Total</h4></div>
                <div class="form-group">
               <label class="col-sm-3 control-label">Employee Pension</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span> </label>
                  </div>
                   </div>

               </div>

               <label class="col-sm-3 control-label">Company Pension</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" value="" />
                        <span class="fa fa-check"></span> </label>
                  </div>
                   </div>

               </div>
              
            </div>
         </div>
  
       </div>
       </div>

      </div>
   </div>
   
</div>
   <div class="clearfix">
        
         <button class="btn btn-primary pull-left "  ng-click="submitScheduler(scheduler)" type="button">Generate Scheduler</button>

    
         </div>
       </form>
   
   </div>
</div>


      
    


                 </uib-tab>
               

                 <uib-tab heading="Employee Based">
            

        

  <div class="panel panel-widget" id="panelDemo14">
       
         <div class="panel-body">
          <form>
         	 <div class="panel-heading bg-gray-lighter  text-bold"> Headers</div>
            <uib-tabset>
               <uib-tab heading="Company Details">     <div class="panel-body">
                 <div class="schedulerHeight">
                <div class="form-group" ng-repeat="company in details.company">
               <label class="col-sm-3 control-label">{{company.description}}</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input class="needsclick" type="checkbox" data-checklist-model="employeescheduler.companyScheduler" data-checklist-value="company.name"/>
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>

        
</div>
             
               </div></uib-tab>
               <uib-tab heading="Employee">
               	     <div class="panel-body">
     <div class="container-md">
   <div class="row">
      <div class="col-md-3">
         <div class="panel b">
            <div class="panel-heading bg-gray-lighter text-bold">Header</div>
            <div class="list-group" ng-init="settingActive = 1"><a class="list-group-item" href="" ng-click="settingActive=1" ng-class="{'active': (settingActive == 1)}">Employee</a><a class="list-group-item" href="" ng-click="settingActive=2" ng-class="{'active': (settingActive == 2)}">Category</a><a class="list-group-item"
               href="" ng-click="settingActive=3" ng-class="{'active': (settingActive == 3)}">Departments</a><a class="list-group-item" href="" ng-click="settingActive=4" ng-class="{'active': (settingActive == 4)}">Cost Centers</a>

            </div>
         </div>
      </div>
      <div class="col-md-9">
         <div ng-show="settingActive == 1">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Employee Details</div>
               <div class="panel-body">
                   <div class="schedulerHeight">
                    <table class="table table-bordered-white " >
            <thead>
               <tr><th>Employee Atributes</th>
                    <th>Add to colums</th>
                 
                 
                 
               </tr>
            </thead>
            <tbody >
             
               <tr ng-repeat="employee in details.employee">


                  <td >{{employee.description}}</td>
            
                  <td><div class="form-group">
               <label class="col-sm-3 control-label"> </label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input type="checkbox" data-checklist-model="employeescheduler.employee" data-checklist-value="employee.name"/>
                        <span class="fa fa-check"></span></label>

                  </div>
                
               </div>
             </div> </td>    
               </tr>
                    
            
            </tbody>
         </table>
         </div>

             
               </div>
            </div>
         </div>
         <div ng-show="settingActive == 2">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Category</div>
               <div class="panel-body">
                <div class="form-group">
               <label class="col-sm-3 control-label">Code</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                       <input type="checkbox" data-checklist-model="employeescheduler.category" data-checklist-value="'code'"/>
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>

            <div class="form-group">
               <label class="col-sm-3 control-label">Description</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                       <input type="checkbox" data-checklist-model="employeescheduler.category" data-checklist-value="'description'"/>
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>
               </div>


            </div>
            
         </div>
         <div ng-show="settingActive == 3">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold" >Departments</div>
            <div class="panel-body">
                <div class="form-group">
               <label class="col-sm-3 control-label">Code</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                       <input type="checkbox" data-checklist-model="employeescheduler.department" data-checklist-value="'code'"/>
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>

            <div class="form-group">
               <label class="col-sm-3 control-label">Description</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                       <input type="checkbox" data-checklist-model="employeescheduler.department" data-checklist-value="'description'"/>
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>
               </div>
            </div>
         </div>
         <div ng-show="settingActive == 4">
  <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Cost Centers</div>
               <div class="panel-body">
                <div class="form-group">
               <label class="col-sm-3 control-label">Code</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                       <input type="checkbox" data-checklist-model="employeescheduler.costCentre" data-checklist-value="'code'"/>
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>

            <div class="form-group">
               <label class="col-sm-3 control-label">Description</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input type="checkbox" data-checklist-model="employeescheduler.costCentre" data-checklist-value="'description'"/>
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>
               </div>
              
            </div>
         </div>
      
      </div>
   </div>
</div>
   </div>
               </uib-tab>

                 <!--   <uib-tab heading="Periods">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat , sunt in culpa qui officia deserunt mollit anim id est laborum.</uib-tab> -->
            
            </uib-tabset>



<div class="panel b">
   <div class="panel-heading bg-gray-lighter text-bold">Columns
  
   </div>
   <div class="panel-body">
     <div class="container-md">
   <div class="row">
<div class="schedule">
      <div class="col-md-3">
         <div class="panel b">

            <div class="panel-heading bg-gray-lighter text-bold">Columns</div>
            <div class="list-group" ng-init="settingActive = 1"><a class="list-group-item" href="" ng-click="settingActive=1" ng-class="{'active': (settingActive == 1)}">Payroll Code Details</a><a class="list-group-item" href="" ng-click="settingActive=2" ng-class="{'active': (settingActive == 2)}">Payroll Codes</a><a class="list-group-item"
               href="" ng-click="settingActive=3" ng-class="{'active': (settingActive == 3)}">Periods</a>
            </div>
         </div>
      </div>
      <div class="col-md-9">
         <div ng-show="settingActive == 1">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Payroll Code Details</div>
               <div class="panel-body">
                  <div class="form-group">
               <label class="col-sm-3 control-label">Code</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input type="checkbox" data-checklist-model="employeescheduler.pCodesDetails" data-checklist-value="'code'"/>
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>

             <div class="form-group">
               <label class="col-sm-3 control-label">Description</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                       <input type="checkbox" data-checklist-model="employeescheduler.pCodesDetails" data-checklist-value="'description'"/>
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>
             <div class="form-group">
               <label class="col-sm-3 control-label">Recurrent</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input type="checkbox" data-checklist-model="employeescheduler.pCodesDetails" data-checklist-value="'recurrent'"/>
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>
             <div class="form-group">
               <label class="col-sm-3 control-label">Formula</label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                       <input type="checkbox" data-checklist-model="employeescheduler.pCodesDetails" data-checklist-value="'formula'"/>
                        <span class="fa fa-check"></span></label>
                  </div>
               </div>
            </div>

         
             
               </div>
            </div>
         </div>
         <div ng-show="settingActive == 2">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Payroll Codes</div>
               <div class="panel-body">
                  <div class="schedulerHeight">
                    <table class="table table-bordered-white " >
            <thead>
               <tr><th>Payroll Code</th>
                    <th>Description</th>
                      <th>Add to colums</th>
                    <th>Totals on Numeric Fields</th>
               
                 
                 
               </tr>
            </thead>
            <tbody >
              
               <tr ng-repeat="code in pcodes">
                  <td >{{code.code}}</td>
                  <td >{{code.description}}</td>
                  <td ><div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                       <input class="needsclick" type="checkbox" data-checklist-model="employeescheduler.PayrollCodes" data-checklist-value="code.id" />
                        <span class="fa fa-check"></span></label>
                  </div></td>
                    <td ><div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                       <input class="needsclick" type="checkbox" data-checklist-model="employeescheduler.total" data-checklist-value="code.id" />
                        <span class="fa fa-check"></span></label>
                  </div></td>
                 
                  
                 
                
               </tr>
               
       
            
            </tbody>
         </table>

             </div>
               </div>
            </div>
            
         </div>
         <div ng-show="settingActive == 3">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold" >Periods</div>
               <div class="panel-body">
                
               <div class="schedulerHeight">
                                     
   <div class="form-group" ng-repeat="period in periods">
               <label class="col-sm-3 control-label">{{period.month}} {{period.year}} </label>
               <div class="col-sm-9">
                  <div class="checkbox c-checkbox needsclick">
                     <label class="needsclick">
                        <input type="checkbox" data-checklist-model="employeescheduler.periodScheduler" data-checklist-value="period.id"/>
                        <span class="fa fa-check"></span></label>

                  </div>
                
               </div>
             </div>

            
                  
            
            </div>
            
               </div>
              
            </div>
         </div>
        
      </div>
  </div>
   </div>
</div>
   </div>
</div>
   <div class="clearfix">
        
         <button class="btn btn-primary pull-left "  ng-click="submitEmployeeScheduler(employeescheduler)" type="button">Generate Scheduler</button>

    
         </div>
        <!--  {{employeescheduler}} -->
</form>
         </div>
      </div>


 
                 </uib-tab>



<!-- 
  <uib-tab heading="Tasks">
            

      <div  ng-include="'app/views/task.html'"> </div>
</uib-tab> -->
            </uib-tabset>
         </div>
      </div>

 
         <div class="panel b">
         <div class="panel-heading bg-gray-lighter" >

            <h3 class="panel-title">Scheduler Report</h3>
         

         </div>
         <div class="panel-body">
          <div class="row">
          <!-- {{scheduler}} -->
          <div class="col-sm-3 text-bold m-t-1" ng-show="periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.companyName !=null">
            Company Name : 
          </div>
          <div class="col-sm-3" ng-show=" periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.companyName !=null">{{periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.companyName}}
          </div>

          <div class="col-sm-3 text-bold" ng-show="periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.companyPin !=null">
            Company Pin : 
          </div>
          <div class="col-sm-3" ng-show=" periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.companyPin !=null">{{periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.companyPin}}
          </div>

          <div class="col-sm-3 text-bold m-t-1" ng-show="periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.nhifNumber !=null">
            NHIF Number : 
          </div>
          <div class="col-sm-3" ng-show=" periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.nhifNumber !=null">{{periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.nhifNumber}}
          </div>

          <div class="col-sm-3 text-bold" ng-show="periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.nssfNumber !=null">
            NSSF Number : 
          </div>
          <div class="col-sm-3" ng-show=" periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.nssfNumber !=null">{{periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.nssfNumber}}
          </div>


          <div class="col-sm-3 text-bold" ng-show="periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.helbNumber !=null">
            HELB Number : 
          </div>
          <div class="col-sm-3" ng-show=" periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.helbNumber !=null">{{periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.helbNumber}}
          </div>

          <div class="col-sm-3 text-bold" ng-show="periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.country !=null">
            Country : 
          </div>
          <div class="col-sm-3" ng-show=" periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.country !=null">{{periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.country}}
          </div>

          <div class="col-sm-3 text-bold" ng-show="periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.emailAddress !=null">
            Email Address : 
          </div>
          <div class="col-sm-3" ng-show=" periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.emailAddress !=null">{{periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.emailAddress}}
          </div>

          <div class="col-sm-3 text-bold" ng-show="periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.physicalAddress !=null">
            Physical Address : 
          </div>
          <div class="col-sm-3" ng-show=" periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.physicalAddress !=null">{{periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.physicalAddress}}
          </div>

          <div class="col-sm-3 text-bold" ng-show="periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.postalCode !=null">
            Postal Code : 
          </div>
          <div class="col-sm-3" ng-show=" periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.postalCode !=null">{{periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.postalCode}}
          </div>

          <div class="col-sm-3 text-bold" ng-show="periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.telephoneNumber !=null">
            Telephone Number : 
          </div>
          <div class="col-sm-3" ng-show=" periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.telephoneNumber !=null">{{periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.telephoneNumber}}
          </div>

          <div class="col-sm-3 text-bold" ng-show="periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.webstie !=null">
            Website : 
          </div>
          <div class="col-sm-3" ng-show=" periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.webstie !=null">{{periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.website}}
          </div>

          <div class="col-sm-3 text-bold" ng-show="periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.workDays !=null">
            Workdays : 
          </div>
          <div class="col-sm-3" ng-show=" periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.workDays !=null">{{periodBasedSchedulerReport.periodBasedSchedulerHeader.companyScheduler.workDays}}
          </div>

          <div class="col-sm-3 text-bold" ng-show="periodBasedSchedulerReport.periodBasedSchedulerHeader.periodScheduler.month !=null">
            Period : 
          </div>
          <div class="col-sm-3" ng-show=" periodBasedSchedulerReport.periodBasedSchedulerHeader.periodScheduler.month !=null">{{periodBasedSchedulerReport.periodBasedSchedulerHeader.periodScheduler.month}} - {{periodBasedSchedulerReport.periodBasedSchedulerHeader.periodScheduler.year}}
          </div>
            
          </div>
          <div class="row">
            <div class="table-responsive ">
              <table class="table table-striped" datatable="ng">
                <thead>
                  <tr>
                   <th ng-repeat="column
     in periodBasedSchedulerReport.periodBasedSchedulerBody.columnListScheduler track by $index
    ">{{column}}</th>                  
                  </tr>
                  <tr ng-repeat="row
     in periodBasedSchedulerReport.periodBasedSchedulerBody.dataList">
                    <td ng-repeat="data
     in row track by $index
    ">{{data}}
                      
                    </td>
                  </tr>
                </thead>
              </table>
              
            </div>
          </div>
         </div>
      </div>

</div>