<h3>User Settings
  


</h3>




      <div class="panel panel-default" id="panelDemo15">
         <div class="panel-heading"></div>
         <div class="panel-body">
            <uib-tabset type="pills">
          

               <uib-tab heading="Group"> 

<div  ng-include="'app/views/accounts.html'"> </div>
      </uib-tab>
               
               
               <uib-tab heading="User Groups"> 

<div  ng-include="'app/views/user-group.html'"> </div>
      </uib-tab>
               

                 <uib-tab heading="Users">
            
<div  ng-include="'app/views/user.html'"> </div>
</uib-tab>


  <uib-tab heading="Rights">
            

      <div  ng-include="'app/views/user-rights.html'"> </div>
</uib-tab>
            </uib-tabset>
         </div>
      </div>




<!-- Modal -->













